[mysqld]
skip-host-cache
skip-name-resolve

# For replication
server-id = 1
log_bin = mysql-bin
log-bin-index = mysql-bin.index
binlog_format = ROW
binlog_do_db = openmrs
expire_logs_days = 90
max_binlog_size = 100M
innodb_flush_log_at_trx_commit = 1
sync_binlog = 1
default_authentication_plugin = mysql_native_password
